#!/bin/bash
# chkconfig: 2345 20 80
# description: Dataloader service

port="{{ config['dataloader_properties']['port'] }}"
spring_profile="{{ config['dataloader_properties']['spring_profile'] }}"
install_dir="{{ target }}"
log_dir="/var/log/opa/dataloader"

get_pid() {
    lsof -ti:$port -sTCP:LISTEN
}

is_running() {
    [ ! -z `get_pid` ] > /dev/null 2>&1
}

start() {
    /opt/jdk/java/bin/java \
    -Dspring.profiles.active=$spring_profile \
    -DDATALOADER_LOG_PATH=$log_dir \
    -jar $install_dir/oap-mstr-dataloader-exec.jar \
    --spring.config.location=file:$install_dir/application.properties \
    --server.port=$port \
    --spring.config.additional-location=file:$install_dir/oap-configuration/ \
    > /dev/null 2>&1 &
    sleep 10
}

stop() {
    lsof -ti:$port -sTCP:LISTEN | xargs kill -9
}

case "$1" in 
    start)
    if is_running; then
        echo "Already started with pid `get_pid`"
    else
        start
        if is_running; then
            echo "Started with pid `get_pid`"
        else
            echo "Failed to start"
            exit 1
        fi
    fi
    ;;
    stop)
    if is_running; then
        stop
        if is_running; then
            echo "Failed to stop"
            exit 1
        else
            echo "Stopped"
        fi
    else
        echo "Already stopped"
    fi
    ;;
    restart)
    stop
    sleep 5
    start
    ;;
    status)
    if is_running; then
        echo "Running with pid `get_pid`"
    else
        echo "Not started"
    fi
    ;;
    *)
    echo "Usage: $0 {start|stop|status|restart}"
esac

exit 0
