# Include the README
include *.md

# Include the license file
include LICENSE.txt

# TODO: Include the OPA Master schema file if it grows beyond a couple of tables
# include opa/api/schema.sql

# Include all the mstr non .py files
include mstr/backup/*
include mstr/procedures/*
include mstr/*.json
include mstr/*.scp
include mstr/*.sh
include mstr/*.ini
include mstr/*.txt
